<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "meta.html" . }}
  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Source+Sans+Pro" rel="stylesheet">

  {{ if .Site.IsServer }}
  {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "styles/main.scss" | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{ else }}
  {{ $cssOpts := (dict "targetPath" "styles/main.css" ) }}
  {{ $styles := resources.Get "styles/main.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ end }}
</head>

<body>
  <div id="content">{{ block "main" . }}{{ end }}</div>
</body>

</html>
