{{ define "main" }}

<nav class="nav-bar">
  <span class="b">/ </span>
  <a href="{{ .Site.BaseURL  }}" class="">{{ .Site.Title  }}</a>
</nav>

<section id="timeline-content" class="mt5">
  <div>
    <ul id="list" class="container">
      {{ range .Pages.ByDate.Reverse }}
      <li class="timeline-item" date-is="{{ .Date.Format `January 2, 2006` }}">
        <div class="timeline-left">
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </div>

        <div class="timeline-content">
          {{ .Title }}
          {{ .Date.Format "January 2, 2006" }}
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{end}}
