{{ define "main" }}
<span class="b">/ </span>
<a href="{{ .Site.BaseURL  }}" class="">{{ .Site.Title  }}</a>
<section id="timeline-content" class="mt5">
  <div>
    <ul id="list" class="container">
      {{ range .Data.Pages.ByDate.Reverse }}
      <li class="timeline-item" date-is='20-07-1990'>
        <div class="timeline-left">
          <a
            class="timeline-icon tooltip" 
            href="{{ .Permalink }}"
            data-tooltip="{{ .Date.Format `January 2, 2006` }}"
          >
            {{ .Title }}
          </a>
        </div>
        
        <div class="timeline-content">
          {{ .Title }}
          {{ .Date.Format "January 2, 2006" }}
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{end}}
