{{ define "header" }}
{{ if .Site.IsServer }}
{{ $cssOpts := (dict "targetPath" "styles/post.css" "enableSourceMap" true ) }}
{{ $styles := resources.Get "styles/post.scss" | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
{{ else }}
{{ $cssOpts := (dict "targetPath" "styles/post.css" ) }}
{{ $styles := resources.Get "styles/post.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
{{ end }}
{{end}}

{{ define "main" }}
{{ $baseurl := .Site.BaseURL }}
<span class="b">/ </span>
<a href="{{ .Site.BaseURL  }}" class="">{{ .Site.Title }}</a>

<section id="main" class="mt5">
  <h1 itemprop="name" id="title">{{ .Title }}</h1>

  <article itemprop="articleBody" id="content" class="">
    {{ .Content }}
  </article>
</section>
{{end}}
