// ----------------  THE BASICS
body {
	font-size: 14px;
	line-height: 1.5;
}

// ----------------  THE FONTS

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5, h6 {
  font-size: 1rem;
}

div, p, span, ul, ol {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}

ul, ol {
  list-style: initial;
}

strong {
  font-weight: 600;
}

article {
  text-align: justify;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) { 
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }
  
  h5, h6 {
    font-size: 1rem;
  }
}
