// ----------------  THE BASICS
body {
	font-size: 14px;
	line-height: 1.5;
}

// ----------------  THE FONTS

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 3rem;
  font-weight: 700;
  font-style: italic;
}

div, p, span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}

// ----------------  LAYOUT

.container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

// ----------------  THE FONTS

$border-color: rgba(255, 218, 11, 0.787);

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(black, .7);
	border-left: 2px solid $border-color;
	
	p {
		font-size: 1rem;
	}
	
	&::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1.1em;
    display: block;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: 1px;
	}

	&::after {
		width: 15px;
		height: 15px;
		display: block;
		top: 1em;
		position: absolute;
		left: -11px;
		border-radius: 15px;
		content: '';
		border: 2px solid $border-color;
    background: white;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$border-color 60%,
			rgba($border-color, 0)) 1 100%
		;
	}
}

.logo {
  display: flex;
  justify-content: flex-end;
  // padding: 2%;

  /* right margin depends on padding of div#content container */
  position: fixed;
  top: 0;
  right: 3%;
}

.link {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;

  background-image: -webkit-linear-gradient(to right, #ff9966, #ff5e62);
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in, color 0.25s ease-in, font-weight 0.25s ease-in;
  &:hover {
    color: white;
    background-size: 100% 88%;
    font-weight: 100;
  }
}

svg text#mm {
  stroke-dasharray: 800;
  animation: fill_logo 3s cubic-bezier(.11,.5,.83,.67);
  opacity: 1;
}

svg rect#border {
  stroke-dasharray: 800;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 15;

  animation: fill_border 3s cubic-bezier(.11,.5,.83,.67);
  opacity: 1;
}

@keyframes fill_logo {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 800;
  }

  30% {
    opacity: 1;
  }

  90% {
    fill: rgba(0, 0, 0, 0);
  }

  100% {
    fill: rgba(0, 0, 0, 1);
    stroke-dashoffset: 0;
  }
}

@keyframes fill_border {
  0% {
    opacity: 0;
    stroke-dashoffset: 800;
    stroke-width: 1;
  }

  30% {
    opacity: 1;
    stroke-width: 1;
  }

  85% {
    stroke-width: 2;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-width: 2;
  }
}
