.nav-bar {
  position: sticky;
  top: 0;
  background: white;
  margin-top: 0%;
  margin-bottom: 0%;
}

.prognroll-bar {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.logo {
  position: relative;
  right: 0;
  padding: 0;

  width: 100%;
  justify-content: center;

  & > svg#logo {
    width: 10%;
  }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) { 
  .logo{
    & > svg#logo {
      margin-top: 0%;
    }
  }
}

svg#logo {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#main {
  margin-top: 0%;
  padding-top: 0%;
}
