.banner_image {
  width: 100%;
  background-size: cover;
}

.banner_title {
  font-size: 2rem;
  margin: 0;
  padding: 0 !important;
  max-width: 100%;
}

.article {
  padding: 0% 2%;
}

/* https://css-tricks.com/full-width-containers-limited-width-parents/ */
.full-width {
  // margin-left: calc(-100vw / 2 + 36rem / 2);
  // margin-right: calc(-100vw / 2 + 36rem / 2);

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
